.metadata

# iOS
Source/tealium_ios/.project
Source/tealium_ios/iphone/build/

# Android
Source/tealium_android/.classpath
Source/tealium_android/.project
Source/tealium_android/.settings/
Source/tealium_android/android/build/
Source/tealium_android/bin/
